.page.theme_dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --logo-color: #db00ff;
  --theme-menu-color: #ff0070;
}

.theme_dark .header__rec-block::before {
  content: "rec";
}

.theme_dark .header__rec-block::after {
  content: "";
}

@media (prefers-color-scheme: dark) {
  :root {
    .theme_auto .header__rec-block::before {
      content: "rec";
    }
  
    .theme_auto .header__rec-block::after {
      content: "";
    }

    .theme_auto {
      --bg-color: #000028;
      --text-color: #f1b2ce;
      --accent-color: #ff0070;
      --logo-color: #db00ff;
      --theme-menu-color: #ff0070;
    }
  }
}