.page.theme_light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --logo-color: #ffc2e6;
  --theme-menu-color: #353430;
  background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --logo-color: #ffc2e6;
    --theme-menu-color: #353430;
  }
}