/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --logo-color: #ffc2e6;
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --logo-color: #ffc2e6;
  }
}

/* .page.theme_light.header__rec-block {
  display: none !important;
} */

.page.theme_light.header__rec-block::before {
  display: none !important;
}

.page.theme_light.header__rec-block::after {
  display: none !important;
}

/* Не забудьте про скринридеры. Поскольку это декоративный элемент, его нужно будет скрыть при помощи aria-атрибута от читалок.  */
