/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
body {
  margin: 0;
  padding: 0;
}

.page {
  /* max-inline-size: 375px; */
  margin: 0;
  background-color:  var(--bg-color, #000028);
  background-image: url(../images/cover-image-dark.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  padding: 2.5vi;
  color: var(--text-color);
  font-size: var(--basic-font-size);
  line-height: 130%;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  min-block-size: 648px;
  margin-block-end: 50px;
}

.decorated-zone::before {
  content: '';
  position: relative;
  display: flex;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  width: 25.036px;
  height: 25.002px;
  margin-inline-start: auto;
}

.decorated-zone::after {
  content: '';
  position: relative;
  display: flex;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  width: 25.036px;
  height: 25.002px;
}

/* .header__rec-block {
  position: relative;
} */

.header__rec-block::before {
  position: absolute;
  content: 'rec';
  text-transform: uppercase;
  font-size: var(--basic-font-size);
  right: 40px;
  top: 10px;
  color: var(--accent-color);
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

/* Не забудьте про скринридеры. Поскольку это декоративный элемент, его нужно будет скрыть при помощи aria-атрибута от читалок.  */

.header__rec-block::after {
  position: absolute;
  right: 19px;
  top: 17px;
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 3px var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 11px;
  color: var(--accent-color);
  margin-block-start: 40px;
}

/* .header__theme-menu-item {
  display: flex;
} */

.header__theme-menu-button {
  display: flex;
  align-items: center;
  min-block-size: 26px;
  background-color: transparent;
  border: none;
  padding-block: 0;
  padding-inline-start: 13px;
  padding-inline-end: 13px;
  text-transform: lowercase;
  line-height: 100%;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color);
}

.title {
  color: var(--logo-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
}

.header__title {
  margin-block-start: 66.5px;
}

.header__paragraph {
  color: var(--bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  margin-block-start: 54px;
  margin-block-end: 30px;
}

.section {
  display: grid;
  margin-block-end: 50px;
}

.section__title {
  color: var(--accent-color);
  font-size: var(--basic-font-size);
  font-weight: 700;
  /* margin-block-start: 8.5vi; */
  margin-block-end: 20px;
}

.section__block__title {
  color: var(--bg-color);
  background-color: var(--accent-color);
  font-size: var(--basic-font-size);
  margin-block-end: 10px;
}

.section__block:not(:last-child) {
  margin-block-end: 20px;
}

/* .section__block__paragraph {
  line-height: 130%;
} */

/* .section__block:last-child {
  margin-block-end: 5vi;
} */

/* .section__block__paragraph {
  margin-block-end: 6vi;
} */

.accent__text {
  text-shadow: 2px 2px 0px var(--accent-color);
  text-decoration: none;
}

.section__block__small {
  margin-block-end: 10px;
}

.section__block__title-light {
  font-weight: 400;
}

.section__block__pictures-grid {
  display: grid;
}

.pictures-grid-image {
  width: 100%;
}

.footer {
  /* margin-block-start: 40px; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  min-block-size: 647px;
  line-height: 82.5%;
}

.footer__title {
  /* margin-block-start: 23vh;
  margin-block-end: 23vh; */
  height: 100%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

@media (width <= 768px) {
  .section__block__pictures-grid {
    gap: 10px;
    grid-template-columns: 1;
  }
}

@media (768px <= width <= 1024px) {
  .pictures-grid-image {
    display: block;
    height: 100%;
  }

  .section__block__pictures-grid {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
      'sunset sunset ice-cream'
      'tape books ice-cream'
      'tape street street';
  }

  .image__sunset {
    grid-area: sunset;
    object-fit: contain;
  }

  .image__ice-cream {
    grid-area: ice-cream;
    object-fit: cover;
  }

  .image__tape {
    grid-area: tape;
    object-fit: cover;
  }

  .image__street {
    grid-area: street;
    object-fit: contain;
  }

  .header {
    min-block-size: 984px;
  }

  .header__rec-block::before {
    right: 6%;
    top: 2%;
  }

  .header__rec-block::after {
    right: 3.75%;
    top: 2.7%;
  }

  .header__theme-menu {
    margin-block-start: 10vh;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-block-start: 16vh;
    margin-inline-start: -2.5%;
  }

  .header__paragraph {
    margin-block-start: 14.75vh;
    margin-inline-start: 50%;
    margin-block-end: 13vh;
  }

  .section {
    margin-block-end: 80px;
  }

  .section:nth-of-type(2n+1) {
    margin-block-start: 7.25vh;
    grid-template-columns: 32.5% auto;
    gap: 20px;
  }

  .section__problems__title {
    max-width: 30%;
  }

  .section__block__small {
    margin-block-end: 5vh;
  }

  .section__block__title__pictures {
    margin-block-end: 1.75vh;
  }

  .footer {
    min-block-size: 984px;
  }

}