/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color:  var(--bg-color, #000028);
  background-image: url(../images/cover-image-dark.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  padding: 10px;
  color: var(--text-color);
  font-size: var(--basic-font-size);
}

.header {
  margin-block-end: 60px;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.decorated-zone::before {
  content: '';
  display: flex;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  width: 25.036px;
  height: 25.002px;
  margin-inline-start: auto;
}

.decorated-zone::after {
  content: '';
  display: flex;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  width: 25.036px;
  height: 25.002px;
}

.header__rec-block {
  position: absolute;
  right: 17px;
  top: 10px;
  font-size: var(--basic-font-size);
  text-transform: uppercase;
  color: var(--accent-color);
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  /* padding-block-end: 40.5px; */
}

/* Не забудьте про скринридеры. Поскольку это декоративный элемент, его нужно будет скрыть при помощи aria-атрибута от читалок.  */

.header__rec-block::after {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 11.5px;
  color: var(--accent-color);
  margin-block-start: 76.5px;
}

/* .header__theme-menu-item {
  display: flex;
} */

.header__theme-menu-button {
  display: flex;
  align-items: center;
  min-height: 26px;
  background-color: transparent;
  border: none;
  padding-block: 0;
  padding-inline-start: 13px;
  padding-inline-end: 13px;
  text-transform: lowercase;
  line-height: 100%;
}

.header__theme-menu-button:focus-visible {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color);
}

.title {
  color: var(--logo-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
}

.header__title {
  margin-block-start: 66.5px;
}

.header__paragraph {
  color: var(--bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  margin-block-start: 55px;
  margin-block-end: 66px;
  line-height: 130%;
}

.section {
  display: grid;
  margin-block-end: 80px;
  line-height: 130%;
}

.section__title {
  color: var(--accent-color);
  font-weight: 700;
  margin-block-end: 20px;
}

.section__block__title {
  color: var(--bg-color);
  background-color: var(--accent-color);
  margin-block-end: 10px;
}

.section__block__paragraph {
  margin-block-end: 20px;
}

.accent__text {
  text-shadow: 2px 2px 0px var(--accent-color);
  text-decoration: none;
}

.section__block__title-light {
  font-weight: 400;
}

.section__block__pictures-grid {
  display: grid;
  gap: 10px;
}

.pictures-grid-image {
  width: 100%;
}

.footer {
  min-height: 647px;
}

.footer__title {
  margin-block-start: 50vi;
  margin-block-end: 50vi;
  text-align: center;
}